[submodule "themes/hugo-noir"]
	path = themes/hugo-noir
	url = https://github.com/prxshetty/hugo-noir.git
[submodule "themes/tailbliss"]
	path = themes/tailbliss
	url = https://github.com/nusserstudios/tailbliss.git
